extends layout

block css
  link(rel="stylesheet", href="/stylesheets/signup.css")

block scripts
    script(src='/js/forgotpassword.js')

block content

    div(class='paragraph')

      h5 Recuperación de Credenciales

    form(class='needs-validation form-signup', id='signup_form', novalidate, autocomplete="off")
    
        div(class='mb-3')
            input(type='email', class='form-control', id='etEmail' placeholder='Email', required)
            div(class='invalid-feedback') Ingrese un email válido

            
    button(class='btn btn-lg btn-primary btn-block', id='btnSubmit', onclick='recoverPass()') Recuperar Cuenta

    hr

    a(class='btn btn-lg btn-primary btn-block', href='/') Regresar