extends layout

block css
  link(rel="stylesheet", href="/stylesheets/index.css")

block scripts
    script(src='https://cdn.jsdelivr.net/npm/big.js@6.0.0/big.min.js')

block content

    div(class='paragraph')
        p El presente trabajo tiene como objetivo recopilar los datos provenientes en la forma de teclear de los usuario para la creación de un dataset que pueda ser usado posteriormente en trabajos de #[a(href="https://es.wikipedia.org/wiki/Din%C3%A1mica_de_tecleo" target="_blank") Dinámica de Tecleo] por medio de esta plataforma web.
        p Para la dinámica tendrás que realizar los siguientes pasos:
            ul
                li Si es la primera vez que accedes al sistema y aún no tienes una cuenta, tendrás que registrarte en el sistema. Al momento de registrarte, es importante que descargues el documento de consentimiento y la reenvies al correo del investigador.
                li #[b Tarea 1: (1° vez)] Ingresa al sistema con tus #[b propias] credenciales.
                li #[b Tarea 2: (1° vez)] El sistema te mostrará las credenciales de un usuario seleccionado de forma aleatoria y tendrás que acceder al sistema con esas credenciales 3 veces.
                li #[b Tarea 3: (1° vez)] El sistema te mostrará las credenciales de #[b otro] usuario seleccionado de forma aleatoria y tendrás que acceder al sistema con esas credenciales 3 veces.
                li #[b Cerrar sesión] y hacer el flujo nuevamente.
                li #[b Tarea 1: (2° vez)] Ingresa nuevamente al sistema con tus #[b propias] credenciales.
                li #[b Tarea 2: (2° vez)] El sistema te mostrará las credenciales de #[b otro] usuario seleccionado de forma aleatoria y tendrás que acceder al sistema con esas credenciales 3 veces.
                li #[b Tarea 3: (2° vez)] El sistema te mostrará las credenciales de #[b otro] usuario seleccionado de forma aleatoria y tendrás que acceder al sistema con esas credenciales 3 veces.
                li #[b Cerrar sesión] y hacer el flujo nuevamente.
                li #[b Tarea 1: (3° vez)] Ingresa nuevamente al sistema con tus #[b propias] credenciales.
                li #[b Tarea 2: (3° vez)] El sistema te mostrará las credenciales de #[b otro] usuario seleccionado de forma aleatoria y tendrás que acceder al sistema con esas credenciales 3 veces.
                li #[b Tarea 3: (3° vez)] El sistema te mostrará las credenciales de #[b otro] usuario seleccionado de forma aleatoria y tendrás que acceder al sistema con esas credenciales 3 veces.
                li Finalmente tendrás que #[b cerrar sesión], donde se te mandará un correo indicando que completaste todas las pruebas de ese día correctamente. Si intentas iniciar sesión nuevamente, no te dejará el sistema.

        mark 
            small *En todas las tareas, si escribes mal la palabra y oprimes la tecla "delete" o "backspace" para corregir, la muestra actual será considerada inválida y toda la palabra que hayas escrito se borrará.
        p

        p Si quieres revisar la dinámica del experimento en una diagrama, dale click al siguiente #[a(href="./docs/diagram.pdf" target="_blank") enlace].
        p Tambíen encontrarás un video con la explicación en el siguiente enlace de #[a(href="https://youtu.be/aPfgiJF9Qes" target="_blank") Youtube].
        p Si tienes alguna duda, puedes contactarte al #[a(href="tel:+51959291344") 959 291 344] / #[a(href="mailto:aron.lo@yahoo.com?subject=Consulta") aron.lo@yahoo.com]

        hr

        a(class='btn btn-lg btn-success btn-block', href='/genuine') Iniciar con la Dinámica

        hr(class= "hr-special")

        a(class='btn btn-lg btn-primary btn-block', href='/signup') Registrarse

        a(class='btn btn-lg btn-outline-primary btn-block', href='/forgotpassword') ¿Olvidaste tu contraseña?