extends layout

block css
  link(rel="stylesheet", href="/stylesheets/signup.css")

block scripts
    script(src='/js/signup.js')

block content

    div(class='paragraph')

      h5 Creación de Cuenta

    form(class='needs-validation form-signup', id='signup_form', novalidate, autocomplete="off")
    
        div(class="mb-3 hidden")
            h5 isImposedPassword?
            label(id="tvisImposedPassword") #{isImposedPassword}

        div(class='mb-3')
            label(for='etName') Nombre
            input(type='text', class='form-control', id='etName' placeholder='Nombre', required)
            div(class='invalid-feedback') Ingrese un nombre válido
        
        div(class='mb-3')
            label(for='etLastname') Apellido
            input(type='text', class='form-control', id='etLastname' placeholder='Apellido', required)
            div(class='invalid-feedback') Ingrese un apellido válido

        div(class='mb-3')
            label(for='etAge') Edad
            input(type='number', class='form-control', id='etAge' placeholder='Edad',min='1', max='90' ,required)
            div(class='invalid-feedback') Ingrese una edad válida


        div(class='mb-3')
            label(for='etDNI') DNI: se solicita para rellenar el siguiente <a href="https://docs.google.com/document/d/1KRUzQ3awPRYSJgkOeOqamFKXvKiH1JSgu6VfpZ0doMM/edit?usp=sharing", target="_blank">Documento de Consentimiento</a>
            input(type='text', class='form-control', id='etDNI' placeholder='DNI', required ,pattern="[0-9]{8}")
            div(class='invalid-feedback') Ingrese un DNI válido

        div(class='mb-3')
            label(for='etEmail') E-mail: nos ayudará a mandarte correos recordatorios
            input(type='email', class='form-control', id='etEmail' placeholder='Email', required)
            div(class='invalid-feedback') Ingrese un email válido

        div(class='mb-3')
            label(for='etUsername') Nombre de Usuario
            input(type='text', class='form-control', id='etUsername' placeholder='Nombre de Usuario', minlength="6", required)
            div(class='invalid-feedback') Ingrese un nombre de usuario simple de más de 6 caracteres

        div(class='mb-3')
            label(for='etPassword') Contraseña: una simple y que te sea fácil de recordar. <b>NO</b> escribas contraseñas que emplees en tus cuentas personales, pues van a ser reveladas a otros usuarios para la dinámica de este experimento.
            if password_len
                input(type='text', class='form-control', id='etPassword' placeholder='Contraseña', ,minlength=password_len ,maxlength= password_len, required)
                div(class='invalid-feedback') Ingrese una contraseña simple de #{password_len} caracteres
            else
                input(type='text', class='form-control', id='etPassword' placeholder='Contraseña', minlength="6", required)
                div(class='invalid-feedback') Ingrese una contraseña simple de más de 6 caracteres


        div(class='d-block my-3')
            label(for='rdGenre') Género
            div(class='custom-control custom-radio')
                input(type='radio',name='rdGenre', id='male', class='custom-control-input', value='male', required)
                label(for='male', class='custom-control-label') Masculino

            div(class='custom-control custom-radio')
                input(type='radio',name='rdGenre', id='female', class='custom-control-input',value='female', required)
                label(for='female', class='custom-control-label') Femenino
            div(class='invalid-feedback') Seleccione una opción


        div(class='d-block my-3')
            label(for='rdHandedness') Mano dominante
            div(class='custom-control custom-radio')
                input(type='radio',name='rdHandedness', id='right_handed', class='custom-control-input',value='right', required)
                label(for='right_handed', class='custom-control-label') Derecho

            div(class='custom-control custom-radio')
                input(type='radio',name='rdHandedness', id='left_handed', class='custom-control-input',value='left', required)
                label(for='left_handed', class='custom-control-label') Izquierdo

            div(class='custom-control custom-radio')
                input(type='radio',name='rdHandedness', id='both_handed', class='custom-control-input',value='both', required)
                label(for='both_handed', class='custom-control-label') Ambas

            div(class='invalid-feedback') Seleccione una opción


        div(class='d-block my-3')
            label(for='rdHandDesease') ¿Consumes algún medicamento o presentas alguna enfermedad que pueda afectar la motricidad en la manos?
            
            div(class='custom-control custom-radio')
                input(type='radio',name='rdHandDesease', id='no_illness', class='custom-control-input',value='no', required)
                label(for='no_illness', class='custom-control-label') No

            div(class='custom-control custom-radio')
                input(type='radio',name='rdHandDesease', id='may_be_illness', class='custom-control-input',value='maybe' ,required)
                label(for='may_be_illness', class='custom-control-label') Tal vez
            

            div(class='custom-control custom-radio')
                input(type='radio',name='rdHandDesease', id='yes_illness', class='custom-control-input',value='yes', required)
                label(for='yes_illness', class='custom-control-label') Si
            div(class='invalid-feedback') Seleccione una opción
            
            div(class="form-group form-check spacing-top")
                input(type="checkbox", class="form-check-input", id="cbConsent")
                label(for="cbConsent",class="form-check-label") Doy consentimiento de haber leído los <a href="https://docs.google.com/document/d/1DcxA9IjDIwYiLi9qR2Y_fCaGsd7_Kx6Zsq2xlBKE6DM/edit?usp=sharing" target="_blank">Términos y Condiciones</a> y estoy de acuerdo con el uso consentido de mis datos personales proporcionados para completar y firmar el <a href="https://docs.google.com/document/d/1KRUzQ3awPRYSJgkOeOqamFKXvKiH1JSgu6VfpZ0doMM/edit?usp=sharing", target="_blank">Documento de Consentimiento</a>*.

                small *Se enviará una copia del documento firmado al correo proporcionado.
                
            
            

    button(class='btn btn-lg btn-primary btn-block', id='btnSubmit', onclick='sign_up()', disabled) Crear cuenta

    hr

    a(class='btn btn-lg btn-primary btn-block', href='/') Regresar