.paragraph{
    text-align: justify;
    width: 100%;
    max-width: 800px;
    margin: auto;
}


button, a {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.hr-special{
    width: 100%;
    max-width: 330px;
}