.paragraph{
    text-align: center;
}


button, a, hr {
    width: 100%;
    max-width: 330px;
    margin: auto;
    margin-top: 20px;
}

.footer {
    margin: auto;
    margin-top: 40px;
    max-width: 330px;
}