.form-signup {
    width: 100%;
    max-width: 400px;
    margin: auto;
}

button, a, hr {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}

a{
    margin-bottom: 20px;
}

.paragraph{
    text-align: center;
}

.hidden{
    display: none;
}

.spacing-top{
    margin-top: 20px;
}